@{
    ViewData["Title"] = "Examples";
}

<div class="container">
    <div class="py-5">
        <h1>Examples</h1>
        <p>Here are some examples of using React with ASP.NET Core.</p>
    </div>

    <div data-island="examples" data-props='{"text": "Hello from Razor"}'></div>
</div>
